.root{
	-fx-background-image: url("../images/backgroundgurly.jpg");
	-fx-background-size: 150%;
	}
.label {
    /*-fx-text-fill: #333333;*/
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#FF0066, #4C001F);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#4C001F, #FF0066);
    
}

/*------------------------ */
.combo-box .list-cell {
      -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#FF0066, #4C001F);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.combo-box:hover {
    -fx-background-color: linear-gradient(#4C001F, #FF0066);
}
    .combo-box-popup .list-view{
    
   	-fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#FF0066, #4C001F);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    
    }


/*--------------------------*/

.menu-button .label{
      -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#4C001F, #FF0066);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.menu-item:focused {
    -fx-background-color: linear-gradient(#FF0066, #4C001F);
}
.context-menu{
   	-fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#4C001F, #FF0066);
}

